<% if workout.errors.any? %>
  <div id="error_explanation">
    <div style="color: red">
      <h2>
        <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
      </h2>
      <ul>
        <% workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<%= simple_form_for workout do |f| %>
  <div class="container rounded bg-white mt-5 mb-5"  data-controller="select2">
    <div class="row">
      <div class="col-md-10">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Dados da Aula</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <%= f.input :start_at, html5: true, input_html: {step: 60, class: "form-control-sm ms-0" } %>
            </div>
            <div class="col-md-6">
              <%= f.input :end_at, html5: true, input_html: {step: 60, class: "form-control-sm ms-0" }%>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.input :location, input_html: {class: "form-control-sm"} %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.input :coach_id, label: "Coach", collection: Coach.all, input_html: {data: { placeholder: 'Selecionar...' }, class: "js-s2-select form-control-sm", id: "coach_id_#{workout.id}", style: "width: 100%"} %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.association :members, label: "Alunos", input_html: {data: { placeholder: 'Selecionar...' }, class: "js-s2-select form-control-sm", id: "members_id_#{workout.id}", style: "width: 100%;"} %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.input :cancelled, label: "Cancelada" %>
              <%= f.input :with_replacement, label: "Reposição" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="p-3 py-5">
          <div class="text-end">
            <%= f.submit "Salvar Aula", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
