<div id="<%= dom_id workout %>">
  <p>
    <strong>Member:</strong>
    <%= workout.member_id %>
  </p>

  <p>
    <strong>Coach:</strong>
    <%= workout.coach_id %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= workout.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= workout.end_at %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= workout.location %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= workout.comments %>
  </p>

</div>
