<% if workout.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>
    <ul>
      <% workout.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= simple_form_for workout do |f| %>
  <div class="container rounded bg-white mt-5 mb-5"  data-controller="select2">
    <div class="row">
      <div class="col-md-10">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Dados da Aula</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <%= f.input :start_at, html5: true, input_html: {step: 60, class: "form-control-sm ms-0", disabled: true } %>
            </div>
            <div class="col-md-6">
              <%= f.input :end_at, html5: true, input_html: {step: 60, class: "form-control-sm ms-0", disabled: true  }%>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.input :location, input_html: {class: "form-control-sm", disabled: true } %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.input :coach_id, label: "Coach", collection: Coach.all, input_html: { class: "js-s2-select form-control-sm", id: "coach_id_#{workout.id}", style: "width: 100%", disabled: true } %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.association :members, label: "Alunos", input_html: { class: "js-s2-select form-control-sm", id: "members_id_#{workout.id}", style: "width: 100%;", disabled: true } %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.input :cancelled, label: "Cancelada", input_html: { disabled: true } %>
              <%= f.input :with_replacement, label: "Reposição", input_html: { disabled: true } %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="p-3 py-5">
          <div class="text-end">
            <%= link_to "Editar Aula", edit_workout_path(workout), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
