<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<%end%>
<h1>Aulas</h1>
<!-- Breadcrumb -->
<nav class="d-flex">
  <h6 class="ms-1 mb-0">
    <%= link_to "Home", root_path, class: "text-reset"%>
    <span>/</span>
    <%= link_to "Aulas", workouts_path, class: "text-reset"%>
  </h6>
</nav>
<!-- Breadcrumb -->
<div class="container rounded bg-white mt-5 mb-5">
  <div class="p-3 py-5">
    <div class="d-flex p-0 mb-2 justify-content-between">
      <div class="p-2">
        <%= paginate @workouts, window: 1, theme: 'bootstrap-5', pagination_class: "pagination-sm" %>
        <%= page_entries_info @workouts %>
      </div>
      <div class="ml-auto p-2 align-self-end">
        <%= link_to raw("<i class=\"bi bi-plus\"></i> Nova Aula"), new_workout_path, class: "btn btn-primary" %>
      </div>
    </div>
    <table class="table table-striped mt-3" data-controller="masks" id="members">
      <thead class="table-dark">
        <tr>
          <th>Aula #</th>
          <th>Dia</th>
          <th>Começo</th>
          <th>Fim</th>
          <th>Coach</th>
          <th>Alunos</th>
          <th>Avulsos</th>
          <th>Local</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @workouts.each do |workout| %>
          <tr id="<%= dom_id workout %>">
            <td><%= link_to workout.id, workout_path(workout)%></td>
            <td><%= l(workout.start_at.localtime, format: "%d/%m - %a") %></td>
            <td><%= l(workout.start_at.localtime, format: "%H:%M") %></td>
            <td><%= l(workout.end_at.localtime, format: "%H:%M") %></td>
            <td><%= workout.coach.name %></td>
            <td><%= workout.members.count %></td>
            <td><%= workout.members.map(&:name).join(', ') %></td>
            <td><%= workout.location %></td>
            <td class="text-end">
              <% if workout.has_not_loyal_billed_member %>
                <%= link_to raw("<i class=\"bi bi-currency-dollar\"></i> Faturar Avulsa"), new_from_workout_invoices_path(workout_id: workout.id), class: "btn btn-sm btn-outline-success" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
