<h2>Perfil - <%= current_user.name %></h2>
<%= simple_form_for(resource, as: resource_name, url: users_edit_path, html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="row">
      <div class="col">
        <%= f.input :first_name, label: "Nome", wrapper_html: {class: "mb-3"}  %>
      </div>
      <div class="col">
        <%= f.input :last_name, label: "Sobrenome", wrapper_html: {class: "mb-3"}  %>
      </div>
    </div>
    <%= f.input :email, wrapper_html: {class: "mb-3"}  %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Aguardando a confirmação do email: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :password,
                hint: "deixe em branco caso não queira mudar",
                required: false,
                input_html: { autocomplete: "new-password" },
                wrapper_html: {class: "mb-3"} %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" },
                wrapper_html: {class: "mb-3"}  %>
    <%= f.input :current_password,
                hint: "É necessário fornecer sua senha atual para realizar as alterações",
                required: true,
                input_html: { autocomplete: "current-password" },
                wrapper_html: {class: "mb-3"}  %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Alterar", class: "btn btn-sm btn-primary" %>
  </div>
<% end %>
