<tr class="nested-form-wrapper" data-controller="masks item-value-calculator" data-new-record="<%= fb.object.new_record? %>">
  <td>
    <h6 class="mb-1"><%= fb.input :description, input_html: {class: "form-control-sm", data: {"replacement-discount-line-target": "description"}}, label: false %></h6>
  </td>
  <td class="text-end"><%= fb.input :price_cents, as: :string, placeholder: "0,00", input_html: {class: "text-end form-control-sm", data: { 'item-value-calculator-target': 'price', "replacement-discount-line-target": "price", 'masks-target': "money", action: "item-value-calculator#calculate_value invoice-value-calculator#calculate_value" }}, label: false %></td>
  <td class="text-end"><%= fb.input :quantity, as: :string, placeholder: "0", input_html: {class: "text-end form-control-sm", data: { 'item-value-calculator-target': 'quantity', "replacement-discount-line-target": "quantity", action: "item-value-calculator#calculate_value invoice-value-calculator#calculate_value" }}, label: false %></td>
  <td class="text-end"><span data-item-value-calculator-target="item_value" data-invoice-value-calculator-target="item_value" data-masks="money"></span></td>
  <td class="text-end"><a href="#" data-action="nested-form#remove" class="btn btn-sm btn-danger fw-bolder p-1 py-0"><i class="bi bi-x"></i></a></td>
  <%= fb.hidden_field :_destroy %>
  <%= fb.hidden_field :member_id, value: @invoice.member_id %>
  <%= fb.hidden_field :payable_by, value: @invoice.member_id %>
  <%= fb.hidden_field :billing_type, "data-replacement-discount-line-target": "billing_type" %>
</tr>
