<% if @invoice.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this workout from being saved:</h2>
    <ul>
      <% @invoice.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= simple_form_for @invoice, html: { data: {controller: 'masks nested-form replacement-discount-line', nested_form_wrapper_selector_value: '.nested-form-wrapper'} } do |f| %>
  <div class="container rounded bg-white mt-5 mb-5" data-controller="select2">
    <div class="row">
      <div class="col-lg-12">
        <div class="card border-white py2">
          <div class="card-body">
            <div class="invoice-title">
              <h4 class="float-end">Fatura #<%= @invoice.id %> <%= render(BadgeComponent.new(text: @invoice.status, color: @invoice.status_color)) %></h4>
              <div class="mb-4 d-flex justify-content-left">
                <%= image_tag "logo-one2one.png", alt: "One 2 One", height: "100" %>
                <div class="container pt-2">
                  <strong class="mb-1">One 2 One Fight</strong>
                  <p class="mb-1 text-muted">Rua Florida, 1901</p>
                  <p class="mb-1 text-muted">(11) 98888-7777</p>
                </div>
              </div>
            </div>
            <hr class="my-4">
            <div class="row mb-5">
              <div class="col-sm-6">
                <div class="text-muted">
                  <h5 class="mb-3">Aluno faturado:</h5>
                  <h6 class="mb-2"><%= f.association :member, label: false, collection: Member.all, input_html: {class: "js-s2-select form-control form-control-sm ms-2"} %></h6>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="text-muted text-sm-end">
                  <div>
                    <h5 class="font-size-16 mb-1">Número da Fatura:</h5>
                    <p>#<%= @invoice.id %></p>
                  </div>
                  <div class="mt-4">
                    <h5 class="font-size-16 mb-1">Mês da Fatura:</h5>
                    <p><%= l(@invoice.reference_date || Date.current.beginning_of_month, format: "%b, %Y") %></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="py-2">
              <h5 class="font-size-15">Detalhes da fatura</h5>
              <div class="table-responsive">
                <table class="table table-nowrap table-centered mb-0">
                  <thead>
                    <tr>
                      <th>Descrição</th>
                      <th class="text-end" style="width: 120px;">Preço R$</th>
                      <th class="text-end" style="width: 65px;">QTD</th>
                      <th class="text-end" style="width: 250px;">Valor</th>
                      <th class="text-end" style="width: 50px;"></th>
                    </tr>
                  </thead>
                  <tbody data-controller="invoice-value-calculator">
                    <template data-nested-form-target="template">
                      <%= f.simple_fields_for :billing_items, BillingItem.new, child_index: 'NEW_RECORD' do |fb| %>
                        <%= render "form_billing_item", fb: fb %>
                      <% end %>
                    </template>
                    <% counter = 1 %>
                    <%= f.simple_fields_for :billing_items do |fb| %>
                      <%= render "form_billing_item", fb: fb %>
                      <% counter += 1%>
                    <% end %>
                    <tr data-nested-form-target="target">
                      <th class="d-flex justify-content-left">
                        <button type="button" class="btn btn-sm btn-outline-primary" data-action="nested-form#add"><i class="fw-bolder bi bi-file-earmark-plus"></i> linha</button>
                        <% replacement_classes = @invoice.member&.replacement_classes || 0 %>
                        <% if replacement_classes > 0 %>
                          <div class="d-flex justify-content-between form-control-group">
                            <button type="button" class="btn btn-sm btn-outline-primary ms-3" data-action="nested-form#add replacement-discount-line#fill"><i class="fw-bolder bi bi-calendar2-x"></i> Descontar reposições</button>
                            <%= text_field_tag :additional_replacements, replacement_classes, "data-replacement-discount-line-target": "replacements", class: "form-control form-control-sm ms-2", style: "width: 75px;" %>
                            <%= hidden_field_tag :max_additional_replacements, replacement_classes, "data-replacement-discount-line-target": "max_replacements" %>
                            <%= hidden_field_tag :max_additional_replacements, replacement_classes, "data-replacement-discount-line-target": "remaining_replacements" %>
                            <%= hidden_field_tag :price_per_class, @invoice.member.class_price, "data-replacement-discount-line-target": "price_per_class" %>
                          </div>
                        <% end %>
                      </th>
                      <th scope="row" colspan="2" class="text-end">Sub Total</th>
                      <td class="text-end" data-invoice-value-calculator-target="total_value"><%= number_to_currency((@invoice.total_value_cents || 0)/100, unit: "R$ ", separator: ",", delimiter: ".") %></td>
                      <td class="text-end"></td>
                    </tr>
                    <tr>
                      <th scope="row" colspan="3" class="border-0 text-end">
                        Desconto</th>
                      <td class="border-0 d-flex justify-content-end text-end pe-0">-R$ <%= f.input :discount_cents, as: :string, placeholder: "0,00", input_html: {class: "text-end form-control-sm ms-2", style: "width: 75px;", data: { 'invoice-value-calculator-target': 'discount_value', 'masks-target': "money", action: "invoice-value-calculator#calculate_value" }}, label: false %></td>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" colspan="3" class="border-0 text-end">Total</th>
                    <td class="border-0 text-end">
                      <h5 class="m-0" data-invoice-value-calculator-target="final_value"><%= number_to_currency(@invoice.final_value_cent/100, unit: "R$ ", separator: ",", delimiter: ".") %></h5>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-print-none mt-4">
              <div class="float-end">
                <%= hidden_field_tag :previous_request, request.referer %>
                <%= f.submit "Salvar", class: "btn btn-primary"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
