<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<%end%>
<h1 class="ms-4" >Faturamento</h1>
<div class="container rounded bg-white mt-5" data-controller="select2">
  <div class="p-3">
    <%= simple_form_for :billing_cycle, url: start_cycle_path, method: :post, html:{ "data-controller": "submit-on-change", "data-submit-on-change-target": "form_to_submit" } do |f|%>
      <div class="d-flex row justify-content-between align-items-center">
        <div class="col-9 ">
          <h2 class="me-3">Selecionar ciclo de faturamento</h2>
        </div>
        <div class="col-2"><%= f.input :cycle, label: false, collection: 12.times.map { |i| (Date.today - (i).month).end_of_month.strftime('%B, %Y') }, selected: @selected_date,  input_html: {class: "js-s2-select form-control-sm me-2", "data-action": "submit-on-change#trigger_form_submit"} %></div>
        <div class="col-1"><%= f.submit "Iniciar", class: "btn btn-primary" %></div>
      </div>
    <% end %>
  </div>
</div>
<% if @invoices %>
  <%= simple_form_for :invoices_in_cycle, url: confirm_invoices_path, method: :patch, html: {"data-controller": "checkbox-select-all"} do |fi| %>
    <%= hidden_field_tag "billing_cycle[cycle]", @selected_date %>
    <div class="container rounded bg-white mt-5 mb-5">
      <div class="p-3 py-5">
        <div class="d-flex p-0 mb-2 justify-content-between">
          <div class="p-2">
            <%= paginate @invoices, window: 1, theme: 'bootstrap-5', pagination_class: "pagination-sm" %>
            <%= page_entries_info @invoices %>
          </div>
          <div class="ml-auto p-2 align-self-end">
            <%= link_to raw("<i class=\"bi bi-clipboard2-plus\"></i> Nova Fatura"), new_invoice_path, class: "btn btn-primary" %>
            <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
              <i class="bi bi-check"></i> Confirmar selecionadas
            <% end %>
          </div>
        </div>
        <table class="table table-hover mt-3 table-borderless" data-controller="masks" id="members">
          <thead class="table-dark">
            <tr>
              <th><%= fi.input :confirm, label: false, as: :boolean, input_html: {data: {"checkbox-select-all-target": "parent",  "action": "change->checkbox-select-all#toggleChildren"}} %></th>
              <th></th>
              <th>ID</th>
              <th>Aluno</th>
              <th>Data</th>
              <th>Status</th>
              <th>Valor Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @invoices.each do |invoice| %>
              <tr id="<%= dom_id invoice %>" class="border-top">
                <td><%= fi.input :confirm, label: false, as: :boolean, input_html: {name: "invoices_in_cycle[#{invoice.id}]", data: {"checkbox-select-all-target": "child",  "action": "change->checkbox-select-all#toggleParent"}} if invoice.status == "draft" %></td>
                <td><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= dom_id invoice %>_items" aria-expanded="false" aria-controls="<%= dom_id invoice %>_items"><i class="bi bi-plus"></i></button></td>
                <td><%= invoice.id %></td>
                <td><%= invoice.member.name %></td>
                <td><%= invoice.reference_date %></td>
                <td><%= render(BadgeComponent.new(text: invoice.status, color: invoice.status_color)) %></td>
                <td><span>R$ </span><span data-masks-target="money"><%= invoice.total_value_cents %></span></td>
                <td class="text-end">
                  <% if invoice.status == "draft" %>
                    <%= link_to raw("<i class=\"bi bi-pencil-square\"></i>"), edit_invoice_path(invoice), class: "btn btn-sm btn-outline-warning" %>
                    <%= button_tag type: 'submit', class: 'btn btn-sm btn-outline-success', data: {"checkbox-select-all-name-param": "invoices_in_cycle[#{invoice.id}]", "action": "checkbox-select-all#confirmIndividual"} do %>
                      <i class="bi bi-check"></i>
                    <% end %>
                  <% end %>
                  <%= link_to raw("<i class=\"bi bi-eye-fill\"></i>"), invoice_path(invoice), class: "btn btn-sm btn-outline-warning" unless invoice.status == "draft" %>
                </td>
              </tr>
              <tr>
                <td colspan="8" class="py-0">
                  <div id="<%= dom_id invoice %>_items" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#<%= dom_id invoice %>">
                    <div class="container py-3 px-3 pe-5">
                      <h5 class="font-size-15">Detalhes da fatura</h5>
                      <div class="table-responsive">
                        <table class="table table-nowrap table-centered mb-0">
                          <thead>
                            <tr>
                              <th style="width: 70px;">No.</th>
                              <th>Descrição</th>
                              <th class="text-end">Preço</th>
                              <th class="text-end">Quantidade</th>
                              <th colspan="2" class="text-end" style="width: 120px;">Valor</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% counter = 1 %>
                            <% invoice.billing_items.each do |item| %>
                              <tr>
                                <th scope="row"><%= counter %></th>
                                <td>
                                  <h6 class="mb-1"><%= item.description %></h6>
                                </td>
                                <td class="text-end"><%= number_to_currency(item.price_cents/100, unit: "R$", separator: ",", delimiter: ".") %></td>
                                <td class="text-end"><%= item.quantity %></td>
                                <td colspan="2" class="text-end"><%= number_to_currency(item.value_cents/100, unit: "R$", separator: ",", delimiter: ".") %></td>
                              </tr>
                              <% counter += 1%>
                            <% end %>
                            <tr>
                              <th scope="row" colspan="4" class="text-end">Sub Total</th>
                              <td class="text-end"><%= number_to_currency(invoice.total_value_cents/100, unit: "R$", separator: ",", delimiter: ".") %></td>
                            </tr>
                            <tr>
                              <th scope="row" colspan="4" class="border-0 text-end">
                                Desconto</th>
                              <td class="border-0 text-end">- <%= number_to_currency(invoice.discount_cents/100, unit: "R$", separator: ",", delimiter: ".") %></td>
                            </tr>
                            <tr>
                              <th scope="row" colspan="4" class="border-0 text-end">Total</th>
                              <td class="border-0 text-end">
                                <h6 class="m-0"><%= number_to_currency(invoice.final_value_cent/100, unit: "R$", separator: ",", delimiter: ".") %></h6>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
