<h1><%= t("devise.invitations.new.header") %></h1>
<!-- Breadcrumb -->
<nav class="d-flex">
  <h6 class="ms-1 mb-0">
    <%= link_to "Home", root_path, class: "text-reset"%>
    <span>/</span>
    <%= link_to "Usuários", user_management_path, class: "text-reset"%>
    <span>/</span>
    <%= link_to t("devise.invitations.new.header"), "", class: "text-reset"%>
  </h6>
</nav>
<!-- Breadcrumb -->
<div class="container rounded bg-white mt-5 mb-5 p-3">
  <%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <div class="row g-3">
      <% resource.class.invite_key_fields.each do |field| -%>
        <div class="col-auto">
          <%= f.input field, label: false, input_html: {class: "form-control form-control-sm"}, placeholder: field.name.capitalize %>
        </div>
      <% end -%>
      <div class="col-3">
        <%= f.input :first_name, label: false, input_html: {class: "form-control form-control-sm"}, placeholder: "Nome..." %>
      </div>
      <div class="col-3">
        <%= f.input :last_name, label: false, input_html: {class: "form-control form-control-sm"}, placeholder: "Sobrenome..." %>
      </div>
      <div class="col-2">
        <div class="field" data-controller="select2">
          <%= f.select :role, options_for_select(User.roles.map { |key, value| [key.humanize, key] }), {prompt: "Selecionar tipo"}, class: "form-select js-s2-select" %>
        </div>
      </div>
      <div class="col-1">
        <div class="form-actions">
          <%= f.button :submit, t("devise.invitations.new.submit_button"), data: { turbo: false }, class: "btn btn-sm btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
