<!DOCTYPE html>
<html>
  <head>
    <title>O2O</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="bg-light">
    <%= render "shared/navbar" %>
    <div class="container-fluid">
      <div class="row">
        <% if current_user %>
          <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse" data-controller="set-active-link">
            <%= render "shared/sidebar" %>
          </nav>
        <% end %>
        <main class="<%= current_user ? "col-md-10 col-lg-10" : "col-md-12 col-lg-12"%> ms-sm-auto px-md-4">
          <% flash.each do |key, value| %>
            <div class="container mt-5 mb-0 px-3">
              <div class="<%= flash_class(key) %> alert-dismissible fade show" role="alert">
                <%= value %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          <% end %>
          <div class="container mt-5">
            <div class="container">
              <%= yield %>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
