<!DOCTYPE html>
<html>
  <head>
    <title>O2o</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="text-dark">
    
    <%= render "shared/navbar" %>
    
    <div class="container bg-white text-dark pt-5">
      <%= yield %>
    </div>
  
  </body>
</html>
