<%= simple_form_for(member, html: { data: { controller: "masks" } }) do |form| %>
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-end">
        <div class="d-flex flex-column align-items-center text-center p-3 py-1"><img class="rounded-circle mt-5 mb-3" width="150px" src=<%= image_url('fem-avatar-04.jpg')%>>
          <h4 class="font-weight-bold"><%= member.name%></h4>
          <span class="text-black-50"><%= member.alias%></span>
          <div class="form-check form-switch mt-4 mb-2">
            <%= form.check_box :loyal , class: "form-check-input" %>
            <%= form.label :loyal, "Aluno Fidelizado", style: "display: block", class:"form-check-label"%>
          </div>
        </div>
      </div>
      <div class="col-md-4 border-end">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Dados do aluno</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <%= form.input :first_name, label: "Primeiro Nome", input_html: {class: "form-control form-control-sm mt-2", placeholder: "Primeiro Nome"} %>
            </div>
            <div class="col-md-6">
              <%= form.input :last_name, label: "Sobrenome", input_html: {class: "form-control form-control-sm mt-2", placeholder: "Sobrenome"} %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <%= form.input :alias, label: "Apelido", input_html: {class: "form-control form-control-sm mt-2", placeholder: "Apelido"} %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <%= form.input :cel_number, label: "Celular", input_html: {class: "form-control form-control-sm mt-2", placeholder: "Número do celular..."} %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12" data-controller="select2">
              <%= form.association :responsible, label: "Responsável pelo pagamento", collection: Member.all, label_html: {class: "mb-2"}, input_html: {data: { placeholder: 'Selecionar...' }, class: "js-s2-select form-control form-control-sm ms-2 w-25"} %>
            </div>
          </div>
          <div class="mt-5 text-center">
            <%= hidden_field_tag :previous_request, request.referer %>
            <%= form.submit "Salvar Aluno", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Planos</h4>
          </div>
          <div class="row mt-2 mb-3">
            <div class="col-md-4 pe-1">
              <%= form.input :subscription_price, as: :string, label: "Mensal R$", input_html: {class: "form-control form-control-sm mt-2", data: { masks_target: 'money' }, placeholder: "-"} %>
            </div>
            <div class="col-md-1 px-1">
              <%= form.input :monday, as: :string, label: "S", label_html: {style: "display: block", class: "text-center"}, input_html: {class: "form-control form-control-sm mt-2 text-center", placeholder: "-"} %>
            </div>
            <div class="col-md-1 px-1">
              <%= form.input :tuesday, as: :string, label: "T", label_html: {style: "display: block", class: "text-center"}, input_html: {class: "form-control form-control-sm mt-2 text-center", placeholder: "-"} %>
            </div>
            <div class="col-md-1 px-1">
              <%= form.input :wednesday, as: :string, label: "Q", label_html: {style: "display: block", class: "text-center"}, input_html: {class: "form-control form-control-sm mt-2 text-center", placeholder: "-"} %>
            </div>
            <div class="col-md-1 px-1">
              <%= form.input :thursday, as: :string, label: "Q", label_html: {style: "display: block", class: "text-center"}, input_html: {class: "form-control form-control-sm mt-2 text-center", placeholder: "-"} %>
            </div>
            <div class="col-md-1 px-1">
              <%= form.input :friday, as: :string, label: "S", label_html: {style: "display: block", class: "text-center"}, input_html: {class: "form-control form-control-sm mt-2 text-center", placeholder: "-"} %>
            </div>
            <div class="col-md-1 px-1">
              <%= form.input :saturday, as: :string, label: "S", label_html: {style: "display: block", class: "text-center"}, input_html: {class: "form-control form-control-sm mt-2 text-center", placeholder: "-"} %>
            </div>
            <div class="col-md-1 px-1">
              <%= form.input :sunday, as: :string, label: "D", label_html: {style: "display: block", class: "text-center"}, input_html: {class: "form-control form-control-sm mt-2 text-center", placeholder: "-"} %>
            </div>
          </div>
          <div class="row mt-2 mb-3">
            <div class="col-md-4 pe-1" data-controller="select2">
              <%= form.input :subscription_type, label: "Tipo de plano", collection: Member.subscription_types.map { |key, value| [Member::SUBSCRIPTION_TYPE_DESCRIPTIONS[key.to_sym], value] }, selected: member.subscription_type_for_database, prompt: 'Selecionar...', label_html: {class: "mb-2"}, input_html: {class: "js-s2-select form-select form-select-sm"} %>
            </div>
          </div>
          <div class="row mt-2 mb-3">
            <div class="col-md-4 pe-1">
              <%= form.input :class_price, as: :string, label: "Individual R$", input_html: {class: "form-control form-control-sm mt-2", data: { masks_target: 'money' }, placeholder: "-"} %>
            </div>
            <div class="col-md-4 pe-1">
              <%= form.input :double_class_price, as: :string, label: "Dupla R$", input_html: {class: "form-control form-control-sm mt-2", data: { masks_target: 'money' }, placeholder: "-"} %>
            </div>
            <div class="col-md-4 pe-1">
              <%= form.input :triple_class_price, as: :string, label: "Trio R$", input_html: {class: "form-control form-control-sm mt-2", data: { masks_target: 'money' }, placeholder: "-"} %>
            </div>
          </div>
          <div class="row mt-2 mb-3">
            <div class="col-md-5 pe-1">
              <%= form.input :replacement_classes, label: "Individual R$", input_html: {class: "form-control form-control-sm mt-2", data: { masks_target: 'money' }, placeholder: "-"} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
