<tr id="<%= dom_id member %>">
  <td><%= member.first_name %></td>
  <td><%= member.last_name %></td>
  <td><%= member.alias %></td>
  <td><%= member.cel_number %></td>
  <td><%= link_to "Show this member", member %></td>
</tr>