<%= form_with(model: member, html: { data: { controller: "masks" } }) do |form| %>
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-end">
        <div class="d-flex flex-column align-items-center text-center p-3 py-1"><img class="rounded-circle mt-5 mb-3" width="150px" src=<%= image_url('fem-avatar-04.jpg')%>>
          <h4 class="font-weight-bold"><%= member.name%></h4>
          <span class="text-black-50"><%= member.alias%></span>
          <div class="form-check form-switch mt-4 mb-2">
            <%= form.check_box :active , class: "form-check-input", disabled: true%>
            <%= form.label :active, "Aluno Ativo", style: "display: block", class:"form-check-label"%>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :loyal , class: "form-check-input", disabled: true %>
            <%= form.label :loyal, "Aluno Fidelizado", style: "display: block", class:"form-check-label"%>
          </div>
        </div>
      </div>
      <div class="col-md-4 border-end">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Dados do aluno</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <%= form.label :first_name, "Primeiro Nome", style: "display: block", class:"form-label" %>
              <%= form.text_field :first_name , class: "form-control form-control-sm", placeholder: "Primeiro Nome...", disabled: true%>
            </div>
            <div class="col-md-6">
              <%= form.label :last_name, "Sobrenome", style: "display: block", class:"form-label" %>
              <%= form.text_field :last_name , class: "form-control form-control-sm", placeholder: "Sobrenome...", disabled: true%>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <%= form.label :alias, "Apelido", style: "display: block", class:"form-label" %>
              <%= form.text_field :alias , class: "form-control form-control-sm", placeholder: "Apelido...", disabled: true%>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <%= form.label :cel_number, "Celular", style: "display: block", class:"form-label" %>
              <%= form.telephone_field :cel_number , class: "form-control form-control-sm", data: { masks_target: 'phone' }, placeholder: "Número do celular...", disabled: true%>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12" data-controller="select2">
              <%= form.label :class_price, "Responsável pelo pagamento", style: "display: block", class:"form-label" %>
              <%= form.select :responsible_id, Member.all.map { |m| [m.name, m.id]}, {include_blank: "Selecionar..." }, class: "form-select js-s2-select", disabled: true%>
            </div>
          </div>
          <div class="mt-5 text-center">
            <%= link_to "Editar Aluno", edit_member_path(member),class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Planos</h4>
          </div>
          <div class="row mt-2 mb-3">
            <div class="col-md-5 pe-1">
              <%= form.label :subscription_price, "Mensal R$", style: "display: block", class:"form-label" %>
              <%= form.text_field :subscription_price , class: "form-control form-control-sm", data: { masks_target: 'money' }, placeholder: "-", disabled: true%>
            </div>
            <div class="col-md-1 px-1">
              <%= form.label :monday, "S", style: "display: block", class:"form-label text-center" %>
              <%= form.text_field :monday , class: "form-control form-control-sm text-center", placeholder: "-", disabled: true%>
            </div>
            <div class="col-md-1 px-1">
              <%= form.label :tuesday, "T", style: "display: block", class:"form-label text-center" %>
              <%= form.text_field :tuesday , class: "form-control form-control-sm text-center", placeholder: "-", disabled: true%>
            </div>
            <div class="col-md-1 px-1">
              <%= form.label :wednesday, "Q", style: "display: block", class:"form-label text-center" %>
              <%= form.text_field :wednesday , class: "form-control form-control-sm text-center", placeholder: "-", disabled: true %>
            </div>
            <div class="col-md-1 px-1">
              <%= form.label :thursday, "Q", style: "display: block", class:"form-label text-center" %>
              <%= form.text_field :thursday , class: "form-control form-control-sm text-center", placeholder: "-", disabled: true%>
            </div>
            <div class="col-md-1 px-1">
              <%= form.label :friday, "S", style: "display: block", class:"form-label text-center" %>
              <%= form.text_field :friday , class: "form-control form-control-sm text-center", placeholder: "-", disabled: true%>
            </div>
            <div class="col-md-1 px-1">
              <%= form.label :saturday, "S", style: "display: block", class:"form-label text-center" %>
              <%= form.text_field :saturday , class: "form-control form-control-sm text-center", placeholder: "-", disabled: true%>
            </div>
            <div class="col-md-1 px-1">
              <%= form.label :sunday, "D", style: "display: block", class:"form-label text-center" %>
              <%= form.text_field :sunday , class: "form-control form-control-sm text-center", placeholder: "-", disabled: true%>
            </div>
          </div>
          <div class="row mt-2 mb-3">
            <div class="col-md-5 pe-1">
              <%= form.label :class_price, "Avulso R$", style: "display: block", class:"form-label" %>
              <%= form.text_field :class_price , class: "form-control form-control-sm", data: { masks_target: 'money' }, placeholder: "-", disabled: true%>
            </div>
          </div>
          <div class="row mt-2 mb-3">
            <div class="col-md-5 pe-1">
              <%= form.label :class_price, "Reposições", style: "display: block", class:"form-label" %>
              <%= form.text_field :replacement_classes , class: "form-control form-control-sm", placeholder: "-", disabled: true%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
