<!-- Breadcrumb -->
<h1>Alunos</h1>
<nav class="d-flex">
  <h6 class="ms-1 mb-0">
    <%= link_to "Home", root_path, class: "text-reset"%>
    <span>/</span>
    <a href="" class="text-reset">Alunos</a>
  </h6>
</nav>
<!-- Breadcrumb -->
<div class="container rounded bg-white mt-5 mb-5">
  <div class="p-3 py-5">
    <div class="d-flex p-0 mb-2 justify-content-between">
      <div class="p-2">
        <%= paginate @members, window: 1, theme: 'bootstrap-5', pagination_class: "pagination-sm" %>
        <%= page_entries_info @members %>
      </div>
      <div class="ml-auto p-2 align-self-end">
        <%= link_to raw("<i class=\"bi bi-person-plus-fill\"></i> Novo Aluno"), new_member_path, class: "btn btn-primary" %>
      </div>
    </div>
    <%= search_form_for @q do |f| %>
      <div class="container d-flex bg-dark px-2 pt-2 mb-0 align-items-center justify-content-start">
        <%= f.text_field :first_name_or_last_name_or_alias_or_cel_number_cont_any, placeholder: "Buscar...", class: "form-control form-control-sm mt-0 w-25" %>
        <%= f.submit "", style: "display:none;" %>
      </div>
    <% end %>
    <table class="table table-striped mt-0" data-controller="masks" id="members">
      <thead class="table-dark">
        <tr>
          <th><%= sort_link @q, :name, "Nome", default_order: :asc, class: "link-light text-decoration-none" %></th>
          <th><%= sort_link @q, :alias, "Apelido", default_order: :asc, class: "link-light text-decoration-none" %></th>
          <th>Celular</th>
          <th class="text-center">Fidelizado</th>
          <th><%= sort_link @q, :subscription_price, "Mensalidade", default_order: :asc, class: "link-light text-decoration-none" %></th>
          <th><%= sort_link @q, :class_price, "Valor por aula", default_order: :asc, class: "link-light text-decoration-none" %></th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr id="<%= dom_id member %>">
            <td><%= link_to member.name, member_path(member)%></td>
            <td><%= member.alias %></td>
            <td>
              <span data-masks-target="phone"><%= member.cel_number %></span>
              <%= link_to raw("<i class=\"bi bi-whatsapp\"></i>"), member.whatsapp_link, target: :_blank, class: "btn btn-sm ms-2", style: "color: #25D366;" %>
            </td>
            <td class="text-center">
              <% if member.loyal? %>
                <i class="bi bi-check-lg text-success fs-5 fw-bolder"></i>
              <% else %>
                <i class="bi bi-x-lg text-danger fs-5 fw-bolder"></i>
              <% end %>
            </td>
            <td><span>R$ </span><span data-masks-target="money"><%= member.subscription_price %></span></td>
            <td><span>R$ </span><span data-masks-target="money"><%= member.class_price %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
